body {
    background: none;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../recursos/hoja2.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: entrada 1.5s;
}

.entrada {
    animation: entrada 0.5s;
}

@keyframes entrada {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
